*{
    padding: 0;
    margin: 0;
}
.showcase{
        display: flex;
        align-items: center;
        background-color: whitesmoke;
        box-shadow: 8px 13px 35px 4px rgba(0,0,0,0.27);

}
.intro{
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-top: 30px; 
    justify-content: space-between;
    margin-right: 30px;
}
.ss1{
    width:300px;
    text-align: center;
    border: 3px;
}
.ss2{
    width:350px;
    text-align: center;
    border: 3px;
}

.ss3{
    width:350px;
    text-align: center;
    border: 3px;
}
.ss4{
    width:320px;
    text-align: center;
    border: 3px;
}
.ss1:hover{
    transform: scale(1.1);
    cursor: pointer;
    border: 3px;
    border-color: blueviolet;
    border-style: dotted;
}
.ss2:hover{
    transform: scale(1.1);
    cursor: pointer;
    border: 3px;
    border-color: blueviolet;
    border-style: dotted;
}
.ss3:hover{
    transform: scale(1.1);
    cursor: pointer;
    border: 3px;
    border-color: blueviolet;
    border-style: dotted;
}
.ss4:hover{
    transform: scale(1.1);
    cursor: pointer;
    border: 3px;
    border-color: blueviolet;
    border-style: dotted;
}
#mmt{
    display: flex;
    align-items: center;
    width: 90%;
    margin-left: 50px;
}
.d1{
    color:goldenrod ;
    margin-left: 50px;
}
#shiva{
    display:flex;
    align-items: center;
    width: 90%;
    margin-left: 50px;
    margin-top: 80px;
}
#smt{
    display:flex;
    align-items: center;
    width: 90%;
    margin-left: 50px;
    margin-top: 80px;
}
#kmt{
    display:flex;
    align-items: center;
    width: 90%;
    margin-left: 50px;
    margin-top: 80px;
}
body{
    background-color: black;
    color: white;
}


